body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  background-color: #39FF14;
}

p {
  font-size: 5vh;
}

div.mini-controls {
  padding-left: 2vh;
  position: absolute;
  z-index: 100;
}

span.mini-control-button {
  font-size: 10vh;
  cursor: pointer;
}

div.loading {
  margin-top: 25vh;
  text-align: center;
  font-size: 40vh;
  cursor: default;
}

div.big-button {
  margin-top: 5vh;
  text-align: center;
  font-size: 70vh;
}

span.clickable {
  cursor: pointer;
}

div.big-center-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 80vh;
}

.ivysaur {
  cursor: url(/images/ivysaur.png), default;
  color: blue;
}

.venusaur {
  cursor: url(/images/venusaur.png), default;
  color: orange;
}

@media only screen and (max-width: 479px) {
  div.loading {
    margin-top: 40vh;
    text-align: center;
    font-size: 10vh;
    cursor: default;
  }

  div.big-button {
    margin-top: 25vh;
    text-align: center;
    font-size: 40vh;
  }

  div.big-center-text {
    padding-top: 35vh;
    font-size: 20vh;
  }

  div.mobile-interaction-layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
}
