.body-container {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

div.main {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #39FF14;
}

div.player {
    font-size: 70vh;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
}

span.play-button {
    cursor: pointer;
}

span.loading-msg {
    font-size: 40vh;
    cursor: default;
}

div.speed {
    font-size: 80vh;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: blue;
}

p {
    font-size: 5vh;
}
