body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  background-color: #39FF14;
}

p {
  font-size: 5vh;
}

div.mini-controls {
  padding-left: 2vh;
  position: absolute;
}

span.mini-control-button {
  font-size: 10vh;
  cursor: pointer;
}

div.loading {
  margin-top: 25vh;
  text-align: center;
  font-size: 40vh;
  cursor: default;
}

div.big-button {
  margin-top: 5vh;
  text-align: center;
  font-size: 70vh;
}

span.clickable {
  cursor: pointer;
}

div.big-center-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 80vh;
}

.ivysaur {
  cursor: url(/images/ivysaur.png), default;
  color: blue;
}

.venusaur {
  cursor: url(/images/venusaur.png), default;
  color: orange;
}
